body{
    background-color: #E3E7E7;
    color: #313133;
    height: 100%;
    
    
}


p{
    padding: 0; 
    margin: 0;
}
a{
    text-decoration: none;
}
.input-grid-container{
    padding: 30px;
}
.input-thumbnail{
    display: flex;
}
/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 60px;
    background-color: white;
    margin: 0 5%;
}
.Nlogo{
    height: 35px;
}
.Nlogo img{
    height: 100%;
}
.Ncontainer{
    background-color: white;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    width: 42%;
}
.nav-items>div{
    display: flex;
}
.nav-items a{
    color: #313133;
    font-weight: 500;
    font-size: 1.2em;
    margin-top:5px;
    text-align: inherit;
    cursor: pointer;
}
.dropdown{
    margin-top: 13px;
}
.navSearch{
    /* border: 1px solid black; */
    width: 350px;
    height: 40px;
    position: relative;
    border-radius: 5px; 
}
.Ncontainer form input[type="text"]{
    /* width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    /* background-color: #fff; 
    border-radius: 8px;  */
    
}

.navSearch *{
    position: absolute;
}
.navSearch ion-icon{
    position: absolute;
    left: 10px;
    top: 10px;
}
.navSearch button{
    right: 0;
    height: 100%;
    padding: 0 24px;
    text-align: center;
    border:none;
    border-radius: 5px; 
    background-color: #F68B1E;
}

.personalAccount{
    position: relative;
}
.Pdiv{
    display: flex;
}
.SSacount{
    position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    transform: translateY(100%);
}
.SSacount a{
    font-weight: 400;
}
.personalAccount:hover .SSacount{
    display: flex;
}
.personalAccount h2, .navCart h2{
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.2em;
    margin: 7px;  
}

/* drop downn */
.hover {
    display: none;
  }


/* Products */

.Pheader{
    border-radius: 5px;
    height: 250px;
}
.Pheader div{
    background-image: url("../assets/electronics.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin: 10px;
    height: 100%;
}
.Cheader{
    display: flex;
    border-radius: 10px 10px 0 0; 
}
.Cheader h2{
    font-size:1.5em;   
} 

.pcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

.btn-color{
    background-color: #F68B1E;
    width: 200px;
}
.products-container{
    background-color: white;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.item{
    margin: 30px 5% 30px 5%;
}
.item *{
    justify-content: center;
    align-items: center;
}
.item img{
    width: 180px;
    height: 180px;
}
.producthead{
    margin: 0;
    padding: 0;
    font-size:1.5em;
}
.name{
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.discount{
    text-decoration: line-through;
    font-size:13px;
    font-weight: 400;
    opacity: 0.7;
}
.price{
    font-size: 17px; 
    margin-bottom: -0.3em; 
}

/* Footer */

footer{
    background-color:#535357;  
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 10px;
    color: #fff;
     
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    height: 100%;
}
footer a, ul{
    text-decoration: none;
    list-style-type: none; 
    color: #fff;
}

.footer-container> div:nth-child(-n+3) { 
    display: flex;
    flex-direction: column;
}
.Join-Us div{
    display: flex;
    gap: 15px;
}
.Copyright{
    text-align: center;
}
.shopIT p{
    padding-top: 50px;
}
/* Add items */

.Addproducts{
    width: 500px;
    height: 500px;
    
    background-color: orange;
    color: white;
}
.Mainimg{
    width: 180px;
    height: 180px;  
}
.Rowimg{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.Additem{
    /* background-color: ; */

}

/* View Items */

.Table_view_products{
    background-color: red;
}
#price, #discount, #product_name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Table_head{
    
}
.Table_head tr{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    
    /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
}
.Table_view_products .mainimg{
    height: 50px;
    width: 50px;
}
.Table_view_products .row_img{
    height: 50px;
    width: 50px;
}
.Table_view_products .mainimg img{
    height: 100%;
}
.Table_view_products .row_img img{
    height: 100%;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 10px; /* Optional: Add a gap between grid items 
} */


















/*  */

/* sign-in custom css */
* {
    margin: 0;
    padding: 0;
  }
  .s-in {
    display: flex;
    height: 100vh;
    background: #e3e7e7;
    justify-content: center;
    align-items: center;
  }
  .sign-in {
    width: 250px;
    height: 325px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  .input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .button1 {
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: #F68B1E;
    margin-bottom: 10px;
  }
  .lower {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.in1{
    border: 1px solid black;
    border-radius: 5px;
}
/* sign-up custom css */
  .s-up {
    display: flex;
    background: #e3e7e7;
  }
  .sign-up {
    width: 325px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  .input1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
  .Csignup{
    width: 100vh;
    height: 100vh;
    background-color: #fff;
  }
  .button2 {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #F68B1E;
    margin: 10px 0;
    width:100%;
  }
  .lower1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons1 {
    position: relative;
    height: 30px;
    width: 100%;
  }
  .icons1 *{
    position: absolute;
  }
  .icons1 ion-icon {
    z-index: 1;
    top: 50%;
    transform: translate(10px, -50%);
  }
  .icons1 input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .delete-icon{
color: red;
margin-left: -10%;
  }




